* {
    background-color: #b0e0e0;
    padding: 0;
    margin: 0;
}

.site-header {
    font-family: Arial, Helvetica, sans-serif;
}

.item {
    padding-top: 3px;
    text-align: center;
    list-style-type: none;
    flex-wrap: left;
    display: inline;
}

.item a {
    border: 2px solid red;
    border-radius: 25%;
    text-decoration: none;
    color: #fff;
    background-color: goldenrod;
    padding: 4px;
    margin: 5px;
    transition: width 2s;
}

.item a:hover {
    background-color: #6f9c07;
    color: #a5a493;
    width: 300px;
}

h1 {
    text-align: center;
}

.tut {
    margin: 3px;
    padding: auto;
}